@font-face {
    font-family: sec;
    src: url(/fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: lora;
    src: url(/fonts/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: robo;
    src: url(/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    color: white;
}

body{
    width: 100vw;
    height: 100vh;

    background:  linear-gradient(90deg ,#0C164D , #190B22);
}

.planet-info{
    height: 80vh;
    width: auto;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(12, 1fr);


}

.text-info{
    grid-column: 4 / 10;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.title{
    font-size: 4rem;
    color: white;
    font-family: sec;
    font-weight:100;
    letter-spacing: 0.3rem;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 2rem;
}

.lead{
    grid-column: 1 / 3;
    grid-row: 2/3;
    align-self: flex-end;
    letter-spacing: 0.7rem;
    color: #FFD029;
    font-size: 2rem;
    font-weight: 100;
    font-family: lora;
}

.bread{
    grid-column: 1 / 10;
    grid-row: 3 / 5;
    line-height: 2rem;
    margin-top:1rem;
    color:rgba(255, 255, 255, 0.575);
    font-size: 1.2rem;
}

.line{
    grid-column: 1 / 9;
    grid-row: 5;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.226);
    margin: 2rem 0 2rem 0rem ;
}
.data-info{
    grid-column: 4 / 10;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.circumference-info{
    grid-column: 1 / 3;
    margin-bottom: 2rem;
}

.distance-sun{
    grid-column: 5 / 8;
}


.max-temp-info{
    grid-column: 1 / 4;
}

.min-temp-info{
    grid-column: 5 / 8;
}

.line2{
    grid-column: 1 / 9;
    grid-row: 5;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.226);
    margin: 2rem 0 2rem 0rem ;
    grid-row: 3 / 4;
}
.one-moon{
    grid-column: 1 / 3;
}


.half-planet{
overflow: hidden;
width: 5rem;
transform: rotate(180deg);
grid-column: 1 / 3;
grid-row: 1 / 12;
align-self: center;

}
.side-planet{
    overflow: hidden;
height: 60rem;
width: 60rem;
background-color: #E29468;
border-radius: 99%;
}

.shadow-1{
    overflow: hidden;
    width: 8rem;
    transform: rotate(180deg);
    grid-column: 1 / 3;
    grid-row: 1 / 12;
    align-self: center;
}

.shadow-planet{
    overflow: hidden;
    height: 60rem;
    width: 60rem;
    background-color: #e295680a;
    border-radius: 99%;
}


.shadow-2{
    overflow: hidden;
    width: 11rem;
    transform: rotate(180deg);
    grid-column: 1 / 3;
    grid-row: 1 / 12;
    align-self: center;
}

.shadow-planet-2{
    overflow: hidden;
    height: 60rem;
    width: 60rem;
    background-color: rgba(231, 205, 205, 0.062);
    border-radius: 99%;
}

.thinner-text{
    color: rgba(255, 255, 255, 0.521);
    font-weight: 100;
}

.back-rocket{
    grid-column: 9 / 10;
    grid-row: 2;
}
